@mixin centered($l, $r, $t, $b) {
    position: absolute;
    top: $t; bottom: $b;
    left: $l; right: $r;
    margin: auto;
}

body {
    background: #6F94A5;
}

.container {
    @include centered(0, 0, 0, 0);
    
    svg {
        width: 500px;
        @include centered(0, 0, 0, 0);
    }
}

#Peter, #Gwen, #Noir, #_2099, #Silk {
    visibility: hidden;
}
    